@font-face {
font-family: 'Bradley Hand Negrita';
font-style: normal;
font-weight: normal;
src:  url('./bradley-hand-2-cufonfonts-webfont/BradleyHandITCTT-Bold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Neuton&display=swap');

#head
{
    height:50vh;
    background-image: linear-gradient( 112.2deg,  rgba(86,223,223,1) 4.7%, rgba(2,28,186,1) 110.1% );
}

.container-fluid
{
    padding-left:0px!important;
    padding-right:0px!important;
    overflow-x:hidden;
}

#gap
{
    margin-bottom: 10vh;
    margin-top:0vh;
    margin-left: 2vw;
}
.non-active:hover
{
    color: rgba(31, 29, 29, 0.788)!important;
}

#doc_btn,#next_btn
{
    background-color: transparent;
    color: rgb(20, 79, 206);
    border-color: rgb(20, 79, 206);
    margin-left: 1vw;
    margin-top: 2vh;
    margin-bottom:2vh;
}

#doc_btn:hover,#next_btn:hover
{
    background-color: rgb(20, 79, 206);
    color: white;
}


.fab
{
    font-size: 3vw;
    margin-left: 4vw;
    margin-bottom:5vh;
    animation: icons 1s linear infinite;
    animation-play-state: paused;
}

.fab:hover
{
    animation-play-state: running;
}



@keyframes icons {
    50% { 
        font-size: 3.4vw;
    }

    100%{
        font-size: 3vw;
    }
}

h5,h1,h2,h3,h4,h6
{
    font-family: 'Dosis';
}

g
{
    font-family:'Dosis';
    font-size: 35px;
    color:rgb(83, 84, 88)
}

h
{
    font-family:'Dosis';
    font-size: 18px;
    color: rgba(5, 127, 226, 0.979);;
}

.fa-instagram
{
    background-image: linear-gradient(45deg,orange,red 50%,rgb(238, 69, 238));
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-reddit
{
    background-image: linear-gradient(to bottom,orange,red);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#image02,#image03,#image02-1,#image02-2,#image04,#image05,#image06,#image07,#image08,#image09,#image10,#image11,#image12,#image13,#image14
{
    width: 65vw;
    height: 25vh;
}

#youtube
{
    width: 80vw;
    height: 35vh;
}

#lottie-image
{
    height: 65vh;
}

#python-photo
{
    width: 80vw;
}

#info
{
    background-color: rgba(225, 231, 236, 0.699);
    border-radius:2vh;
    box-sizing:border-box;
    padding:20px 30px;
}

@media only screen and (min-width: 550px) {
    .nav-link
    {
        margin-left: 3vw;
    }

    #youtube
    {
        width: 350px;
        height: 225px;
    }

    #gap
    {
        margin-top: 10vh;
        margin-bottom: 0vh;
    }

    #image02,#image03,#image02-1,#image02-2,#image04,#image05,#image06,#image07,#image08,#image09,#image10,#image11,#image12,#image13,#image14
    {
        width: 30vw!important;
        height: auto!important;
    }

    
    #lottie-image
    {
        height:60vh;
    }

    #python-photo
    {
        width: 32vw;
    }

}